.header {
  background-color: green;
  display: flex;
  justify-content: space-between;
  &__logo {
    color: blue;
  }
  &__nav {
    float: right;
  }
  &__navElement {
    color: yellow;
    font-weight: bold;
    &--red {
      color: red;
    }
  }
}
